* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

main {
    margin-left: 40px;
    margin-right: 40px;
}

header {
    border: solid purple;
    background-color: #343639;
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 40px 40px 15px 40px;

}

h1 {
    border: solid orangered;
}

nav {
    border: solid blue;
    margin-bottom: 10px;
    background-color: #343639;
    color: white;
    padding: 5px;
}

nav ul {
    display: flex;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: solid orangered;

}

.image-me {
    border: solid purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

#about-me {
    border: solid blue;
    font-size: 25px;
    color: white;
    background-color: #343639;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 30px;
}


#skills-me {
    border: solid orangered;
    font-size: 25px;
    color: white;
    background-color: #343639;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 30px;
}

.bc-skills {
    border: dashed #343639;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;

}


.list {
    width: 300px; 
    padding: 10px;
    border: solid black;
    border-width: 1px;
    margin: 60px 10px;
}

.title {
    position: relative;
    margin-top: -20px;
    margin-bottom: 20px;
    border: solid black;
    color: white;
    background-color: #343639;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
}

#projects-me {
    font-size: 25px;
    color: white;
    background-color: #343639;
    margin-bottom: 10px;
    border: solid purple;
    padding: 20px;
    border-radius: 30px;
}



.content {
    display: flex;
    flex-wrap: wrap;
    border: solid orangered;
    margin-bottom: 20px;

}

.main-project {
    border: solid #343639;
    flex: 1;

}

.main-project img {
    border: solid red;
    padding-right: 150px;
    background-color: #343639;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.side-project {
    color: white;
}

.proj {
    display: flex; /*makes all children into a flex box - (paragraph and image)*/
    align-items:center; /*center items vertically*/
    border: solid;
    margin-bottom: 30px;
    background-color: #343639;
    border-radius: 30px;
    
}

.des {
    flex: 1; /*makes the paragraph take up remaining available space pushing the image to the right*/
}

.image {
    margin-left: 150px; /*add margin between paragraph and picture*/
}








footer {
    border: solid purple;
    background-color: #343639;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px;
}