* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

main {
    margin-left: 40px;
    margin-right: 40px;
}

header {
    border: solid purple;
    background-color: #343639;
    font-size: 40px;
    text-align: center;
    color: white;
    padding: 10px;

}

h1 {
    border: solid orangered;
}

nav {
    border: solid blue;
    margin-bottom: 10px;
    background-color: #343639;
    color: white;
    padding: 5px;
}

nav ul {
    display: flex;
    font-size: 25px;
}

nav ul li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border: solid orangered;

}

.image-me {
    border: solid purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

#about-me {
    border: solid blue;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 5px;
}


#skills-me {
    border: solid orangered;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 5px;
}

.bc-skills {
    border: solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}


.list {
    width: 300px; 
    padding: 10px;
    border: solid black;
    border-width: 1px;
    margin: 60px 10px;
}

.title {
    position: relative;
    margin-top: -20px;
    margin-bottom: 20px;
    border: solid black;
    color: white;
    background-color: #343639;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
}

#projects-me {
    font-size: 25px;
    margin-bottom: 10px;
    border: solid purple;
}

/*
.main-project {
    border: solid blue;
    float: left;
}


.side-project {
    border: solid orangered;
    display: inline-block;
    width: 70%;
    

}

.proj-1 {
    border: solid purple;
}



.proj-2 {
    border: solid blue;
}


p {
    border: solid rgb(0, 255, 191);
}

*/


.proj {
    display: flex; /*makes all children into a flex box - (paragraph and image)*/
    align-items: center; /*center items vertically*/
}

.des {
    flex: 1; /*makes the paragraph take up remaining available space pushing the image to the right*/
}

.image {
    margin-left: 20px; /*add margin between paragraph and picture*/
}



footer {
    border: solid purple;
    background-color: #343639;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 25px;
    padding: 10px;
}